*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html{
    overflow-y: hidden;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 8px 0;
    display: flex;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

header h1{
    font-family: 'Belleza', sans-serif;
    font-weight: normal;
    font-size: 70px;
    margin: 0 auto;
}

.hamburger span{
    height: 3px;
    width: 100%;
    background-color: black;
    display:block;
    margin-bottom: 4px;
    cursor: pointer;
}

.hamburger{
    max-width: 32px;
}

#menu{
    margin-top: 20px;
}

#menu li{
    display: inline;
    margin-right: 16px;
}

.container a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

#carrosel-imagens{
    max-width: 500px;
}

#about .container{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

#about .container img{
    margin-right: 16px;
    margin-bottom: 18px;
}

.container h2{
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
}

.container p{
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
}

#vestuario .container{
    text-align: center;
    margin-top: 100px;
}

#vestuario h2{
    margin-bottom: 100px;
}

.articles{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.articles a{
    display: block;
}

.articles img{
    height: 300px;
    width: 400px;
    background-size: cover; 
    /* faz com que a imagem fique todos do mesmo tramanho.*/
}

hr{
    margin-top: 20px;
    margin-bottom: 30px;
}

#contact{
    display: block;
}

h2{
    text-align: center;
    font-size: 30px;
}

.contact-methods{
    display: flex;
    justify-content: space-between; 
}

.container h3{
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
}

form button{
    border: none;
    cursor: pointer;
    width: 60px;
    background-color: greenyellow;
    color: black;
}

form button:hover{
    background-color: green;
}

.brand-list li{
    display: inline;
    margin-right: 10px;
}

.brand-list img{
    height: 24px;
}

footer{
    background-color: white;
    padding: 16px 0;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}